@import 'normalize.css';

@import url('https://fonts.google.com/specimen/IBM+Plex+Sans?query=ibm+');

// Biáº¿n
$primary : #fe2c55;

* {
    box-sizing: border-box;
}
html{
    font-size: 62.5%
}
body {
    font-family: 'ibm-plex-sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}